* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 16px;
}

p {
    margin-bottom: 15px;
}

/* Header style*/

 header {
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-row {
    padding: 18px 0 10px;
}

.navigation ul li a {
    color: white;
    padding: 5px 15px;
    display: flex;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;

}

.navigation ul li a:hover {
    opacity: 1;
}

.logo a {
    display: block;
}

.logo img {
    width: 120px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.raw {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
}

.space-between {
    justify-content: space-between;
}

    /* Section 1*/

.bg2 {
    background: url('../picture/bacground.png');
    position: relative;
}

.bg2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.center {
    justify-content: center;
}

.intro-container {
    padding-top: 90px;
    padding-bottom: 90px;
}

.introText {
    color: white;
    width: 50%;
}

.introImage {
    width: 40%;
}

.introImage img {
    max-width: 100%;
}

.text-bold {
    font-weight: 700
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.size {
    font-size: 42px;
    line-height: 60px;
}

.uppercase {
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
}


.first p {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 30px;
    padding-bottom: 20px;
    padding-bottom: 20px;
}

.butonHold {
    padding-top: 10px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 30px;
    color: #ffffff;
    border: 1px solid wheat;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 200px;
    text-decoration: none;

}

.button:hover {
    background-color: white;
    color: blueviolet;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
}

.table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-auto-flow: dense;
}

.table-center {
    background: white;
    position: relative;
    width: 100%;
    bottom: -60px;
    padding: 40px 0;
    border-radius: 6px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.12);

}

ul {
    list-style: none;
}

.textCenter {
    text-align: center
}

.borderLine {
    border-right: 1px solid #ebebeb;
}

.collor h5 {
    color: purple;
    font-size: 25px;
    line-height: 18px;
}

.collor p {
    color: #707070;
    font-size: 15px;
}

.section2 {
    padding: 150px 0;
}

.pg1 {
    max-width: 50%;
    flex:0 0 50%;
}

.title {
    color: rgb(143, 47, 211);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
    line-height: 1.21;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.21;

}

.card-table {
    border: 1px solid #eff2f7;
    border-radius: 16px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.2s ease 0s;
}    
    
.price-border {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    transition: transform ease 300ms;
}

.price-border:hover {
    box-shadow: 0 .2em .5rem rgba(31, 45, 61, .125);
    border-top: 4px solid #9629e6;

}

.col-lg3 {
    max-width: 23%;
}

.pb-2 {
    padding: 30px 30px 35px 30px;
}

.pl-0 {
    padding-left: 0;
}

.text-tables {
    color: #707070;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 40px;
}

.text-p {
    color: #707070;
    font-size: 15px;
    margin-bottom: 15px;
}

.card-table:hover {
    background-color: blueviolet;
    color: white;
    transform: translate(0, -10px);
}

.card-table:hover .iconColor {
    color: white;
}

.card-table:hover p{
    color:white
}

.iconColor {
    color: blueviolet;
}



.background {
    background: #f4f7fa;
}

.col-lg {
    max-width: 44%;
    flex: 0 0 44%;
}

.no-list {
    list-style: none;
}

.font-badge {
    font-size: 40px;
}

.bad-color {
    color: #007bff;
    margin-right: 5px;
    margin-left: -5px;
    float: left;
}

.col-2 {
    max-width: 66%;
    flex: 0 0 66%;

}

.col-3 {
    max-width: 31%;
    flex:0 0 31%;
  }
  

.icon-padding {
    padding: 0 18px 0 15px;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #efdff7;
    color: #b17cc6;
    text-align: center;
    line-height: 3.9;
}

.colPad {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.colPad p {
    color: #707070;
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 1.75;
}

.icon2 {
    background: #c6e6fd;
    color: #63b0e3;
}

.icon3 {
    background: #efe3e3;
    color: #ed7265;
}

.icon4 {
    background: #ddedea;
    color: #45d7ba;
}

.icon5 {
    background: #ffe0e3;
    color: #bd2130;
}

.icon6 {
    background: #e2e8ff;
    color: #6582ed;
}

.background_shape::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    background-image: url(../picture/shape-bg-right.svg);
    background-repeat: no-repeat;
    z-index: -1;
}

.background_shape {
    position: relative;
}

.video {
    transition: all 800ms ease-in-out;
}

.video-icon {
    border-radius: 50%;
    width: 65px;
    height: 36%;
    position: relative;
    z-index: 4;
    border: none;
    cursor: pointer;
    background: white;
    color: rgb(16, 36, 123);
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 0 1 rgba(209, 169, 23, 0.4);
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(229, 229, 229, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(164, 159, 159, 0);
    }
}

.height {
    margin-bottom: 20px;
}


.circle {
    padding-top: 20px;
}


.store {
    border-radius: 30px;
    text-align: center;
    color: #6730e3;
    border: 2px solid #6730e3;
    padding: 12px 30px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    background: white;
    font-weight: 700;
    margin-right: 20px;
}

.store:hover {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.store1 {
    border-radius: 30px;
    text-align: center;
    color: white;
    border: 2px solid white;
    padding: 12px 30px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    font-weight: 700;
    margin-right: 20px;
}

.store1:hover {
    background: white;
    color:#6730e3;
    border: 1px solid white
}

.height-app{
    padding-top: 50px;
}


.video-icon:hover {
    color: #007bff;
}

.icon-color {
    background: white;
    color: rgb(68, 121, 245);
}

.card-price {
    border: none;
    border-top: 4px solid transparent;
    border-radius: 16px;
    box-shadow: 0 0 0 1px #ebebeb;
    transition: all 0.2s ease 0s;

}

.pricing-img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    line-height: 65px;
    margin: 0 auto;
    padding-bottom: 24px;
}

.img-price {
    width: 100%;
}


.list-price {
    color: rgb(132, 146, 166);
    font-size: 14px;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.list-price ul {
    padding: 0;
}

.price {
    font-size: 2.5rem;
    color: #9629e6;
    margin-bottom: 24px;
}

.price span {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.buy {
    border-radius: 30px;
    text-align: center;
    color: #6730e3;
    border: 2px solid #6730e3;
    padding: 10px 25px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.buy:hover {
    color: #fff;
    background: #6730e3;

}
.col-3:nth-child(2) a{
    color: white;
    background: #6730e3;
    ;
}
.col-3:nth-child(2):hover a {
    border: 2px solid #6730e3;
    background: white;
    color: #010309;
}

.popular-price {
    box-shadow: 0 .2em .5rem rgba(31, 45, 61, .125);
    border-top: 4px solid #9629e6;

}

.card-price:hover {
    z-index: 2;
    border-radius: 24px;
}

.link {
    text-decoration: none;
}

/* section with paypal and other icons */
.lead {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #707070;
    line-height: 1.75;
}

.client img{
    padding-right: 50px;
    max-width: 22%;
}

.company {
    transition: all 0.3s ease-in;
}

.company:hover {
    transform:scale(1.2)

}

.clients img{
    width: 4.425rem;
    height: 4.425rem;
    line-height: 4.425rem;
    border-radius: 50%;
    margin-right: 10px;
  }

  .small-padding{
    margin-bottom: 6px;
  }
  .margin-top {
    margin-top: 55px    ;
  }

  .colPad img {
    position: relative;
    width: 6%;
    top: 5px;
    margin-right: 10px;
  }

  .arrow {
    margin-top: 20px;
    margin-left: 20px;
  }

  .client-button{
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 50px;
    box-shadow: 0 0 0 1px #ebebeb;
    display: inline-block;
    text-align: center;
    column-rule-color: #6730e3;
    text-decoration: none   ;
    line-height: 2.5;
  }

  .client-button:hover {
    background: #6730e3;
    color: white;

  }
  
  /* Picture section with other flow */

  .hide{
    position: relative;
    overflow: hidden;
    padding:50px 0 50px 0;
  }

  .s  img{
    max-width: 100%;
    height: 500px;
    max-height: 20%;
    width:277.5px;
    padding: 30px 20px 30px 30px;
  }

  .frame{
    padding: 0!important
}

.frame1 {
    margin-left: -110px!important;  
}