    *{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    }


    header {
        background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    .navigation ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }


  

    .navigation ul li a {
        color: white;
        padding: 25px 20px;
        display: flex;
        font-size: 14px;
        text-decoration: none;
        opacity: 0.8;
        transition: opacity 0.5s ease-in-out;
     
    }

    .navigation ul li a:hover {
        opacity: 1;
    }
    
    .logo a {
        display: block;
    }

    .logo img {
            width: 120px;
    }

    .container{
        max-width: 1140px;
        width: 100%;
        margin: 0  auto;
        padding: 0 15px;
        position: relative;
        z-index: 1;
    }   

    .space-between {
        justify-content: space-between;
    }

    .bg2 {
    background: url('../picture/bacground.png');
    position: relative;
    }

    .bg2::before {
        content: "";
    position: absolute; 
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
    }

    .flex {
        display: flex;  
    }

    .space-between {
        justify-content: space-between;
    }

    .items-center {
        align-items: center;
    }

    .intro-container {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    
    .introText {
        color: white;
        width: 50%;
    }
    
    .introImage {
        width: 35%;
    }
    
    .introImage img {
        max-width: 100%;
    }

    .text-bold {
        font-weight: 700 
    }
   
    h2 {
        font-family: 'Montserrat', sans-serif;
    }

    .size {
        font-size: 42px;
        line-height: 60px;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .first p {
            font-size: 20px;
            font-weight: 300;
            padding-bottom: 30px;
            padding-bottom: 20px;
            padding-bottom: 20px;
        }
    
    .butonHold{
        padding-top: 10px;
    }

    .button {
        display: inline-block;
        padding: 15px 30px;
        font-size: 15px;
        text-align:center;
        border-radius: 30px;
        color: #ffffff;
        border: 1px solid wheat;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        width: 200px;
        text-decoration: none;

    }
    
    .button:hover {
        background-color: white;
        color: blueviolet;
    }

    .row {
        display: flex;
        margin-right: -15px;
        margin-left: -15px;
        flex-wrap: wrap;
    }

    .table {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(255px,1fr));
        grid-auto-flow: dense;
        

    }

    .table-center {
        background: white;
        position: relative;
        width: 100%;
        bottom: -60px;
        padding: 40px 0;
        border-radius: 6px;
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.12);
        
    }

    ul {
        list-style: none;
    }

    .textCenter {
        text-align: center  
    }
    .borderLine{
        border-right: 1px solid #ebebeb;    
    }

    .collor h5{
        color: purple;
        font-size: 25px;
        line-height: 18px;
    }
    .collor p{
        color:#707070;
        font-size: 15px;
    }
    
    .section2 {
        padding: 150px 0 ;
    }
    .pg1 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .title {
       
        color: indigo;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
    .pg {
        margin-bottom: 40px;
    }