    table{
        border-spacing: 0;
        border: 5px solid white;

    }
    td, tr {
            border-right: 1px solid white;
            border-bottom: 1px solid white;
            color: rgb(255, 255, 255);
            background-color: red;
            width: 25px;
            height: 25px;
            text-align: center;

        }
        .tuscias {
            background-color: white;
        }
        .gap td {
            border-top: 10px solid white;
        }