
h1{
    text-align: center;
    color: rgb(55, 122, 122);
}
table, td, th {
    border: 1px solid black;
    border-spacing: 0;
    width: 400px;
    height: 20px;

}

div{
    display:inline-block;
    text-align: center;
    width:  400px;
    margin:10px
}
.month{
    background-color: rgb(133, 148, 148);
    color: white;
    font-weight:normal;
}
.red{
    color: red;
    background-color: azure;
}
.empty{
background-color: rgb(182, 206, 206);
}
